---
layout: layouts/base.njk
eleventyNavigation:
  key: Search
  order: 5
  icon: <svg class="nav-icon-search" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="var(--link-color)" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
---
<input type="text" id="search" autocomplete="off" />
<div id="results"></div>
<script async defer>
(async () => {
  document.getElementById('search').addEventListener('keyup', (event) => {
    const searchString = event.target.value.toLowerCase();
    const results = [];
    posts.forEach((post) => {
      if (
        post.title.toLowerCase().includes(searchString) ||
        post.excerpt.toLowerCase().includes(searchString) ||
        post.keywords.toLowerCase().includes(searchString) ||
        post.tags.toLowerCase().includes(searchString)
      ) {
        results.push(`<div class="search-result-item">
            <a href="${post.url}">
            <h2>
              ${post.title}
            </h2>
            <p class="description">
              ${post.excerpt}
            </p>
          </a>
        </div>`);
      }
    })

    document.getElementById('results').innerHTML = results.join('<hr>');
  })

  const posts = await fetch('../search.json').then(res => res.json());
})()
</script>
