---
layout: layouts/home.njk
eleventyNavigation:
  key: Search
  order: 3
---
<input type="text" id="search" autocomplete="off" />
<div id="results"></div>
<script async defer>
(async () => {
  document.getElementById('search').addEventListener('keyup', (event) => {
    const searchString = event.target.value.toLowerCase();
    const results = [];
    posts.forEach((post) => {
      if (
        post.title.toLowerCase().includes(searchString) ||
        post.excerpt.toLowerCase().includes(searchString) ||
        post.keywords.toLowerCase().includes(searchString) ||
        post.tags.toLowerCase().includes(searchString)
      ) {
        results.push(`<div class="search-result-item">
            <a href="${post.url}">
            <h2>
              ${post.title}
            </h2>
            <p class="description">
              ${post.excerpt}
            </p>
          </a>
        </div>`);
      }
    })

    document.getElementById('results').innerHTML = results.join('<hr>');
  })

  const posts = await fetch('/search.json').then(res => res.json());
})()
</script>