---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tags
  order: 4
---
<h1>Tags</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }} &mdash; {{ collections[ tag ] | tagCount }}</a></li>
{% endfor %}
</ul>
