---
permalink: /tags/
layout: layouts/base.njk
eleventyNavigation:
  key: Tags
  order: 4
---
<h1>Tags</h1>

<ul>
{% for tag, count in collections.postsSortedByTagCount %}
    {% set tagUrl %}/tag/{{ tag | slug }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }} ({{ count }})</a></li>
{% endfor %}
</ul>