<div style="text-align: center;">
  <img alt="it me" src="https://secure.gravatar.com/avatar/397da8c5ae99b2f89a207d9beda6984d?size=180" style="margin-left: auto;margin-right: auto;display: inherit;border-radius: 50%;" />
  <h1>{{ metadata.title }}</h1>
  <h2 style="font-size: 1.25em;">{{ metadata.description }} <br /> by {{ metadata.author.name }}</h2>
  TODO: socials
  <hr />
</div>