{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		{%- set modifiedCoverImagePath %}{{ post.data.cover_image | failOverCoverImage }}{% endset %}
		<a href="{{ post.url }}" class="postlist-link cover-link">
			<div class="cover-wrap">
				<span class="cover-img"><img alt="cover image" src="/blog/images/cover_images/{{modifiedCoverImagePath}}" /></span>
				<h2>
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						<code>{{ post.url }}</code>
					{% endif %}
					<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate  }}</time>
				</h2>
				<span class="postlist-meta-block">
					{{ post.data.description }}<br/>
					{% if post.content and metadata.displayTTR %}
						<i class="time-to-read">{{ post.content | timeToRead }} read<br/></i>
					{% endif %}
				</span>
			</div>
		</a>
		<ul class="postlist-tag-links">
			{%- for tag in post.data.tags | filterTagList %}
			{%- set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
			<li>
				<svg style="width: auto;height: 1em;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-tag fa-3x w-5 sm:w-6 fill-current mx-auto mb-1"><path fill="currentColor" d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" class=""></path></svg>
				<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
			{%- endfor %}
		</ul>
	</li>
{% endfor %}
</ol>
