---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{%- if cover_image %}
	<div class="cover-wrap">
		<span class="cover-img"><img alt="temp cover image" src="/blog/images/cover_images/{{cover_image}}" /></span>
		<h2>
			{% if title %}
				{{ title }}
			{% else %}
				<code>{{ url }}</code>
			{% endif %}
		</h2>
		<div class="post-metadata">
			<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			<ul>
				{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
				<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
				{%- endfor %}
			</ul>
		</div>
	</div>
{%- else %}
	<h1>{{ title }}</h1>
	<div class="post-metadata">
		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
		<ul>
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
			<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
			{%- endfor %}
		</ul>
	</div>
{%- endif %}

{%- if toc %}
<details class="toc">
	<summary>
		<h3>Table of Contents</h3>
	</summary>
	<aside class="toc">
	{{ content | toc | safe }}
	</aside>
</details>
{%- endif%}

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

{%- if metadata.disqus.enable %}
<details class="comments">
  <summary>Comments <h3>NOTE: Disqus Comments Are Deprecated</h3></summary>
	<p>Soon they will go away. I will attempt to export those existing comments while I find a better solution.</p>
	<div class="post-comments">
	<div id="disqus_thread">
		<p class="nope">
			Note: if you're seeing no comments here, it's likely that your browser is blocking them via Firefox's tracking protection or an ad blocker. As it is disqus comments are deprecated on this blog. I will attempt to export those existing comments while I find a better solution.
		</p>
	</div>
	</div>
	<script>
	var disqus_config = function () {
	let pageSlug = '';
	if('{{ redirect_from }}') {
		pageSlug = '{{ redirect_from }}';
	} else if('{{ category }}' && !'{{ permalink }}') {
		pageSlug = '{{ category }}'+'{{ page.fileSlug }}';
	} else if ('{{ permalink }}') {
		pageSlug = '{{ permalink }}';
	} else {
		pageSlug = '{{ page.fileSlug }}';
	}
	if (pageSlug.charAt(0) === "/") {
		pageSlug = pageSlug.substring(1);
	}
	this.page.url = "{{metadata.url}}"+pageSlug;
	this.page.identifier = undefined; // pageId;
	};
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://{{ metadata.disqus.shortname }}.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> 
</details>
{%- endif %}
